<% provide(:title, 'Home') %>
<%= render 'sessions/login' %>
<%= render 'users/signup' %>
<div class="center hero-unit">
<h2>Your online credit manager</h2>
<p>Improve your credit management with the best plan devised for your monthly payments</p>
<%= link_to "Sing Up!", new_user_path, class: "btn btn-main", :remote => true, "data-toggle" => "modal", "data-target" => "#signup-modal" %>
</div>
<div class="row">
  <div class="col-6">
    <h3>Manage</h3>
    <p>
      handle your credits and loans with an easy to use app
    </p>
  </div>
  <div class="col-6">
    <%=image_tag("managing.png", class: "img-responsive img-rounded")%>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>
      Schedule
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>
      Keep a record of the days on which you have to pay your credits
    </p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%=image_tag("credit.png", class: "img-responsive img-rounded")%>
  </div>
  <div class="col-6">
    <%=image_tag("calendar.png", class: "img-responsive img-rounded")%>
  </div>
</div>
