<%= form_for(@user) do |f| %>
<div class="row">
  <div class="column">
    <%= render 'shared/error_messages', object:f.object%>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :contraseña %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmar_Contraseña %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <%if btnAction=="Sign Up"%>
  <div class="field">
    <p class="center">
      <%= f.check_box :terms_of_service%>
      By clickin "<%=btnAction%>" I accept the Terms of Use and Privacy Policy 
    </p>
  </div>
  <%end%>
  <div class="actions">
    <p class="center">
      <%= f.submit btnAction, class: "btn btn-main center" %>
    </p>
  </div>
<% end %>
</div>
</div>
