<tr>
  <td><%= user.nombre %></td>
  <td><%= user.usuario %></td>
  <td><%= user.password %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
    | <%= link_to "delete", user,method: :delete, data:{confirm: "You sure"}%>
</tr>
