<% provide(:title,@user.nombre) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user%>
        <%= @user.nombre %>
      </h1>
</section>
  </aside>
</div>
<div class="span8">
  <%  if @user.credits.any?%>
  <%=amortizacion=@credits.ids%>
    <h3 class="span2">Creditos</h3>
    <%= link_to 'Nuevo Credito', new_credit_path, class: "btn btn-primary"%>
    <p class="span12"></p>
    <ol class="credits">
      <%= render @credits %>
    </ol>
  <%else%>
  <%= link_to 'Nuevo Credito', new_credit_path, class: "btn btn-primary span10"%>
  <% end %>
</div>
