
<%= form_for(@credit) do |f| %>
  <div class="row">
    <div class="span6 offset3">
      <%= render 'shared/error_messages', object:f.object%>


  <div class="field">
    <%= f.label :credito %><br>
    <%= f.text_field :credito %>
  </div>
  <div class="field">
    <%= f.label :saldoInicial %><br>
    <%= f.number_field :saldoInicial %>
  </div>
  <div class="field">
    <%= f.label :tasaInteres %><br>
    <%= f.number_field :tasaInteres %>
  </div>
  <div class="field">
    <%= f.label :plazo %><br>
    <%= f.number_field :plazo %>
  </div>
  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="actions">
    <%= f.submit "Continuar", class: "btn btn-large btn-primary"%>
  </div>
<% end %>
</div>
</div>
