<div class="container-fluid">

<%= form_for(@credit) do |f| %>
  <div class="row">
    <div class="col-12">
      <%= render 'shared/error_messages', object:f.object%>
  <div class="field col-12">
    <%= f.label :credito, "Credit Name:" %><br>
    <%= f.text_field :credito %>
  </div>
  <div class="field col-12">
    <%= f.label :saldoInicial, "Initial Balance:" %><br>
    <%= f.number_field :saldoInicial %>
  </div>
  <div class="field col-12">
    <%= f.label :tasaInteres, "Annual Interest rate:" %><br>
    <%= f.number_field :tasaInteres %>
  </div>
  <div class="field col-12">
    <%= f.label :plazo, "Payments:" %><br>
    <%= f.number_field :plazo %>
  </div>
  <div class="field col-12">
    <%= f.label :fechaInicio, "Start Date:" %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="actions col-12">
    <p class="center">
      <%= f.submit btnAction, class: "btn btn-main"%>
    </p>
  </div>
<% end %>
</div>
</div>
</div>
