<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credito %><br>
    <%= f.text_field :credito %>
  </div>
  <div class="field">
    <%= f.label :saldoInicial %><br>
    <%= f.number_field :saldoInicial %>
  </div>
  <div class="field">
    <%= f.label :tasaInteres %><br>
    <%= f.number_field :tasaInteres %>
  </div>
  <div class="field">
    <%= f.label :plazo %><br>
    <%= f.number_field :plazo %>
  </div>
  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
